<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="Scripts/angular.js"></script>
    <script src="app/Scripts/app.js"></script>    
    <script src="app/Scripts/ConstService.js"></script>
    <script src="app/Scripts/ViewContentDirective.js"></script>
    <script src="app/Controllers/ClientSideController.js"></script>   
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body data-ng-app="myApp" ng-controller="ClientSideController">

    <div class="myView">
        <table>
            <tr>
                <th>Less 10Mb</th>
                <th>10-50Mb</th>
                <th>More 100Mb</th>
            </tr>
            <tr>
                <td><h4>{{countresults[0]}}</h4></td>
                <td><h4>{{countresults[1]}}</h4></td>
                <td><h4>{{countresults[2]}}</h4></td>
            </tr>
        </table>

        <br />
        <br />

        <em>Current path:</em> {{results.currdir}}

        <br />
        <br />
        <br />

        <div class="resultBlock">
            <div class="infoBlock">
                <div ng-repeat="drive in resultDrives">
                    <a href="#" ng-click="getDriveDirs(drive)">{{drive}}</a>
                </div>
                <a href="#" ng-click="goDirBack(results.currdir)" ng-show="backsymbol"><u>&#183;&#183;</u></a>
                <div data-ng-repeat="info in results.subdirect">
                    <a href="#" ng-click="getDirs(info.FullPath)">{{info.OriginalPath}}</a>
                </div>
                <div data-ng-repeat="info in results.files">
                    <p ng-click="getContent(info.FullPath)">{{info.OriginalPath}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentViewer">
        <ng-content requested-extension="fileextension" server-request="request"></ng-content>
    </div>
</body>
</html>